@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
* {
    box-sizing: border-box; /*Desconsidera o margin e o padding na hora de contar altura ou largura
                            de um elemento*/
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
}

#container {
  height: 100%;
  width: 100%;
  background-color: rgb(201, 189, 200);
  display: flex;
  justify-content: center;
}

.container-evento {
  height: 100vh;
  width: 90%;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  overflow: auto;
}

#container-informacoes {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
}

#titulo {
  margin-left: 5%;
  margin-top: 5%;
  color: #530A4C;
}

.container-input {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container-descricao {
  height: 30%;
}

#filled-basic {
  height: 5px;
  font-size: small ;
}

#outlined-multiline-static {
  height: 5px;
  font-size: small ;
}

.titulo_input {
  margin-left: 30px;
  font-size: small;
  font-weight: bold;
  display: flex;
}

.input_container {
  padding-left: 20px;
  margin-right: 50px;
}

.obrigatorio {
  color: red;
}

#container-informacoes-2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container-input-2 {
  height: 90px;
  width: 100%;
  margin-top: 60px;
}

#input_container {
  width: 40%;
}

#input-estado-cidade {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#button-publicar {
  display: flex;
  flex-direction: row-reverse;
}

