html {
  scroll-behavior: smooth;
}

#destaque--evento::-webkit-scrollbar {
  height: 0px;
}

.container--1::-webkit-scrollbar {
  height: 0px;
}

body::-webkit-scrollbar {
  height: 0px;
}

#container--home {
  height: 770px;
  background-image: url('../../assets/imgs/foto1.png');
  background-repeat: no-repeat;
  display: column;
}

nav {
  width: 100%;
  height: 90px;
  display: flex;
}

#div--logo {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

#parte--1 {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lista--1 {
  display: flex;
  list-style: none;
}

#lista--1 li {
  margin-left: 50px;
  color: white;
  cursor: pointer;
}

#parte--2 {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  color: black;
}

#lista--2 {
  display: flex;
  list-style: none;
}

#lista--2 li {
  margin-left: 50px;
  cursor: pointer;
}

#criar--conta {
  margin-top: 15px;
}

#bt--login {
  background-color: #530A4C;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

#home--principal {
  height: 84%;
  width: 100%;
  display: flex;
}

#lado--esquerdo {
  width: 50%;
  height: 100%;
  background-image: url('../../assets/imgs/Saly-35.png');
  background-repeat: no-repeat;
  background-position: 50px 0px;
  display: flex;
}

#lado--direito {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#titulo--home {
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-left: 140px;
  margin-top: 140px;
}

#caixa--home {
  margin-left: 145px;
  margin-top: 20px;
  height: 290px;
  width: 70%;
}

#paragrafo--home {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#titulo--botao {
  margin-top: 50px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

#botao--principal {
  background-color: #530A4C;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 14px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#botao--principal a {
  color: white;
  text-decoration: none;
}

#container--evento {
  height: 1250px;
  max-width: 100vw;
  background-image: url('../../assets/imgs/Vector 2.png');
  background-repeat: no-repeat;
  background-position: 0px -100px;
  display: column;
}

#titulo--evento {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 30px;
  position: absolute;
}

#div--evento {
  height: 2580px;
  background-image: url('../../assets/imgs/Vector 3.png');
  background-repeat: no-repeat;
  background-position: right 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#destaque--evento {
  margin-top: 50px;
  height: 600px;
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

#foto--evento {
  background-color: #530A4C;
  height: 420px;
  width: 500px;
  border-radius: 10px;
}

#info--evento {
  background-color: rgb(242, 242, 242);
  margin: 10px;
  padding: 10px;
  height: 420px;
  width: 1266px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  cursor: pointer;
  box-shadow: 0px 5px 10px #530A4C;

}

.titulo--evento {
  font-weight: bold;
  font-size: 40px;
  display: block;
}

.endereco--evento {
  font-size: 20px;
  display: block;
}

.buttons {
  width: 100%;
  text-align: center;
}

.buttons button{
cursor: pointer;
border: none;
background-color: transparent;
}

.buttons button:first-child img {
  height: 40px;
  transform: rotate(180deg);
}

.buttons button:last-child img {
  height: 40px;
}

.container--mapa {
  height: 550px;
  width: 1250px;
  margin-top: 150px;
}

.mapa--google {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

.texto--aba--mapa {
  font-size: 30px;
  font-weight: bold;
  color: #530A4C;
}

.texto2--aba--mapa {
  font-size: 20px;
  font-weight: bold;
  color: #530A4C;
  margin-top: 10px;
}

.texto2--aba--mapa2 {
  color: white;
  font-size: 20px;
  margin-left: 3px;
}

.container--eventos {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.container--eventos--2 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.container--1 {
  height: 65%;
  width: 1350px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  box-shadow: 0px 5px 10px gray;
  margin-top: 20px;
}

#info--evento--2{
  background-color: #530A4C;
  margin: 10px;
  height: 320px;
  width: 280px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.informacoes {
  background-color: white;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 10px;
  box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.775);

}

.titulo--evento--2 {
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-top: 20px;
}

.endereco--evento--2 {
  font-size: 13px;
  display: block;
  flex-wrap: wrap;
  margin-top: 15px;
  color: gray;
}

.buttons--2 {
  margin-left: -1120px;
  text-align: start;
}

.buttons--2 button{
cursor: pointer;
border: none;
background-color: transparent;
}

.buttons--2 button:first-child img {
  height: 20px;
  width: 20px;
  transform: rotate(180deg);
  margin-right: 20px;
  color: white;
  background-color: 10px 10px 10px rgba(128, 128, 128, 0.775);
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.buttons--2 button:last-child img {
  height: 20px;
}

.footer {
  background-color: #530a4c;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

