html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body,
html {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.divCadastro {
    height: 100%;
    width: 55%;
    background-color: #FFFFFF;
    color: white;

}

.cadastrar {
    position: absolute;
    left: 13.19%;
    right: 69.93%;
    top: 23.73%;
    bottom: 71.58%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    color: #777777;
}

.input1 {
    position: absolute;
    left: 7.5%;
    right: 65.42%;
    top: 33.5%;
    bottom: 62.01%;

    border: #D0D0D0;
    background: #D0D0D0;
    border-radius: 9px;
}

.input2 {
    position: absolute;
    left: 7.5%;
    right: 65.42%;
    top: 39.55%;
    bottom: 55.96%;

    border: #D0D0D0;
    background: #D0D0D0;
    border-radius: 9px;
}

.input3 {
    position: absolute;
    left: 7.5%;
    right: 65.42%;
    top: 45.61%;
    bottom: 49.9%;

    border: #D0D0D0;
    background: #D0D0D0;
    border-radius: 9px;
}

.input4 {
    position: absolute;
    left: 7.5%;
    right: 65.42%;
    top: 51.66%;
    bottom: 43.85%;

    border: #D0D0D0;
    background: #D0D0D0;
    border-radius: 9px;
}

.input5 {
    position: absolute;
    left: 7.5%;
    right: 65.42%;
    top: 57.32%;
    bottom: 38.18%;

    border: #D0D0D0;
    background: #D0D0D0;
    border-radius: 9px;
}

.buttonEntrar {
    position: absolute;
    left: 12.57%;
    right: 70.49%;
    top: 64.75%;
    bottom: 30.54%;

    color: white;
    background: #3A0635;
    border-radius: 11px;
}

.p1 {
    position: absolute;
    left: 15.97%;
    right: 73.89%;
    top: 69.63%;
    bottom: 28.81%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #3A0635;
}

.p2 {
    position: absolute;
    left: 16.94%;
    right: 74.86%;
    top: 72.19%;
    bottom: 27.25%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #3A0635;
}

.divLogin {


    background: #3A0635;
    position: absolute;
    left: 45%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #3A0635;
}

.p3 {
    position: absolute;
    left: 24.53%;
    right: 32.41%;
    top: 38.44%;
    bottom: 57.16%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: white;


}

.p4 {
    position: absolute;
    left: 8.39%;
    right: 14.39%;
    top: 45.3%;
    bottom: 54.04%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: white;

}

.p5 {
    position: absolute;
    left: 30.97%;
    right: 37.85%;
    top: 48.42%;
    bottom: 50.92%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    color: white;
}

.buttonLogin {
    box-sizing: border-box;

    position: absolute;
    left: 32.57%;
    right: 43.45%;
    top: 56.83%;
    bottom: 38.23%;

    color: white;
    background: #3A0635;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
}