@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
* {
    box-sizing: border-box; /*Desconsidera o margin e o padding na hora de contar altura ou largura
                            de um elemento*/
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/*Navbar*/

#navbar {
    width: 100%;
    height: 85px;
    background-color: #530A4C;
    color: white;
}

#navbar-container {
    width: 75%;
    height: 100%;
    margin: auto; /*Quando uma div esta dentro de outra e é menor, é bom utilizar o margin: auto
                  porque ele deixa centralizado no meio da div pai*/
    display: flex;
    justify-content: space-between 500px;
    align-items: center;
}

#navbar-items-box {
    width: 40%;
    margin-left: 5%;
}

#navbar-items-box li{
    padding: 30px;
}

#navbar-items-1 {
    display: flex;
    list-style: none;
}

#navbar-items-box-2 {
    margin-left: 12%;
}





#navbar-items-2 {
    display: flex;
    list-style: none;
}

#btn_criar_conta {
    height: 40px;
    width: 100px;
    background-color: #3A0635;
    color: white;
    border: 0;
    border-radius: 10px;
}

#btn_criar_conta:hover {
  cursor: pointer;
  background-color: #851479;
}

#btn_entrar {
    margin-top: 10px;
}

/* Showcase */

#showcase {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('../../assets/imgs/pessoas-curtindo-uma-festa_53876-150249.jpg') no-repeat center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

/* Conquistas */

#conquistas {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#conquistas-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

.conquista {
    display: flex;
    justify-content: space-around;
}



/* Depoimentos */

#depoimentos {
    width: 100%;
    background: rgb(27, 27, 27);
    color: #eee;
    padding: 50px;
}

#depoimentos-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: large;
}

.depoimento {
    height: 350px;
    width: 30%;
    background-color: rgb(238, 238, 238);
    box-shadow: #111;
    border-radius: 10px;
    color: #111;
}

.imagem_depoimento {
    height: 100px;
    margin-left: 35%;
    margin-top: 12%;
}

.texto_depoimento {
    font-size: 20px;
    margin-top: 5%;
    margin-left: 4%;
}

.nome_depoimento {
    margin-top: 4%;
    margin-left: 4%;
}

/* BENEFICIOS */

#beneficios {
    width: 100%;
    background: rgb(255, 255, 255);
    color: #111;
    padding: 50px;
}

#beneficios-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: large;
}

.beneficio {
  height: 400px;
  width: 40%;
}

.beneficio + img {
  display: flex;
  justify-content: flex-start;
}

.titulo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 2%;
}

.titulo + p {
  margin-top: 3%;
}



/* FOOTER */
#footer  {
    height: 250px;
    background-color: #530A4C;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

