@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
* {
    box-sizing: border-box; /*Desconsidera o margin e o padding na hora de contar altura ou largura
                            de um elemento*/
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter Tight', sans-serif;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Showcase */

#showcase {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('../../assets/imgs/pessoas-curtindo-uma-festa_53876-150249.jpg') no-repeat center;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    width: 100%;
    max-width: 2000px;
}

/* Conquistas */

#conquistas {
    width: 100%;
    max-width: 2000px;
    background: #eee;
    color: #111;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#conquistas-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conquista {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    font-weight: bold;
}



/* Depoimentos */

#depoimentos {
    width: 100%;
    max-width: 2000px;
    background: rgb(27, 27, 27);
    color: #eee;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#depoimentos-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 2000px;
    justify-content: space-around;
}

.depoimento {
    height: 350px;
    width: 100%;
    max-width: 400px;
    background-color: rgb(238, 238, 238);
    box-shadow: #111;
    border-radius: 10px;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem_depoimento {
    width: 100%;
    max-width: 150px;
    margin-top: -30px;

}

.texto_depoimento {
    font-size: 20px;
    margin-top: 20px;
}

.nome_depoimento {
  margin-top: 5%;
}

/* BENEFICIOS */

#beneficios {
    width: 100%;
    background: rgb(255, 255, 255);
    color: #111;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

#beneficios-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: large;
}

.beneficio {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.imagem_beneficio {
  height: 100%;
  width: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
}

.titulo + p {
  margin-top: 3%;
}



/* FOOTER */
#footer  {
    height: 250px;
    background-color: #530A4C;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

