.music-boxes {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.divGeral {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
